<div class="list-table">
  <div class="d-flex justify-content-between align-items-center mb-5">

    <div class="left-side d-flex align-items-center gap-3">
      <img src="../../../assets/settings.svg" style="width: 20px; height: 20px;" (click)=" openSetting();">
      <div class="KPI-status border-1  d-flex align-items-center p-10px"
           style="background-color: #1B1B1B; border-radius: 5px; align-items: center" >
        <p class="m-0 p-2">{{ choosedOption }}</p>
      </div>

      <div class="KPI-status border-1 align-items-center  p-10px " style="background-color: #25262C;
; border-radius: 5px;  border: 5px solid #44454E; align-items: center">
        <div class="m-0 p-1">
          <p class="m-0 small-text "><span style="color: #AD94FF;">Closes In:</span> {{ choosedOptionDate }}</p>
          <p class="m-0 small-text "><span style="color: #AD94FF;">End Date:</span> {{ initialtionDate }}</p>
        </div>
      </div>
<!--      <div style="display: flex; align-items: center; gap: 16px;">-->
<!--        <img src="../../../assets/info.svg" style="width: 20px; height: 20px;"/>-->
<!--      </div>-->

    </div>

    <div class="right-side" style="display: flex; align-items: center; gap: 16px;">
<!--      <div class="icons" style="display: flex; align-items: center; gap: 8px;">-->
<!--        <img src="../../../assets/announcement.svg" alt="announcement" style="width: 24px; height: 24px;">-->
<!--        <img src="../../../assets/notification.svg" alt="notification" style="width: 24px; height: 24px;">-->
<!--      </div>-->
      <div class="logo" style="display: flex; align-items: center;">
        <img src="../../../assets/logo-datasoft.svg" alt="datasoft logo" style="width: 120px; height: auto;">
      </div>
    </div>


  </div>

  <div class="labels">
    <div class="kpi">
      <h5 style="color:#AD94FF;">{{ label }}</h5>
    </div>
    <div class="actions">
      <div class="search-wrapper"  (keyup.enter)="search()">
        <input type="text" placeholder="Search Here" [(ngModel)]="searchParam" class="search-input"/>
        <img src="../../../assets/magnifine-bar.svg" class="search-icon" (click)="search()"/>
      </div>
<!--      <img src="../../../assets/column_picker.svg" style="background-color:#6449BE ; padding: 8px; border-radius: 5px"/>-->
    </div>
  </div>

  <!-- Table scroll wrapper -->
  <div class="table-scroll-wrapper">
    <div class="table-x-scroll">
      <table>
        <thead>
        <tr>
          <th>
            <div class="checkbox-cell ">

              <span class="sl-no">Sl No</span>
            </div>
          </th>
          <th>Year</th>
          <th>Employee Name</th>
          <th>Team</th>
          <th>Employee Id</th>
          <th>Status</th>
          <th>Employee Designation</th>
          <th>SBU</th>
          <th>Hierarchy</th>
          <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of userList; let i = index">
          <td>

<!--              <label class="custom-checkbox">-->
<!--                <input type="checkbox"/>-->
<!--                <span></span>-->
<!--              </label>-->
              {{ i + 1 }}

          </td>
          <td>{{ data?.year }}</td>
          <td [title]="data.employee_name">
            {{ data.employee_name.length > 15 ? (data.employee_name | slice:0:15) + '...' : data.employee_name }}
          </td>
          <td [title]="data.team">
            {{ data.team.length > 15 ? (data.team | slice:0:15) + '...' : data.team }}
          </td>
          <td>{{ data.employee_id }}</td>

          <td [ngClass]="getStatusClass(data.status)">{{ data.status }}</td>
          <td>{{ data.desg }}</td>
          <td>{{ data.sbu }}</td>
          <td title="{{ data.hieCount }}" style="cursor:pointer;position: relative;">
            <div class="dropdown" style="position: relative;">
              <span
                class="text-white"
                role="button"
                data-bs-toggle="dropdown"
                data-bs-display="static"
                aria-expanded="false"
                (click)="openHierarchy(data, $event)">
                <ul style="color:#fff;">{{ data.hieCount }}</ul>
              </span>

              <div #dropdownMenu class="dropdown-menu hierarchy-dropdown p-4">
                <div style="font-size:16px; color:white; font-weight:bold;">Hierarchy</div>
                <div class="w-100">
                  <div *ngFor="let user of fullHierarchy">
                    <div style="font-size:14px; color:white;">{{ user.user_name }}</div>
                    <div class="dropdown-divider"></div>
                  </div>
                </div>
              </div>
            </div>



          </td>
          <td class="text-center">
            <img src="../../../assets/clear-eye.svg" alt="actions"
                 [ngStyle]="{
                      cursor: data.editPermission ? 'pointer' : 'default',
                      opacity:  data.editPermission ? 1 : 0.4,
                      'pointer-events':  data.editPermission ? 'all' : 'none'
                    }"
                 (click)="viewDetails(data)"
            />
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
