<div class="list-table">
  <div class="d-flex justify-content-end align-items-center mb-5">


    <div class="right-side" style="display: flex; align-items: center; gap: 16px;">

      <div class="logo" style="display: flex; align-items: center;">
        <img src="../../../assets/logo-datasoft.svg" alt="datasoft logo" style="width: 120px; height: auto;">
      </div>
    </div>


  </div>

  <div class="labels">
    <div class="kpi">
      <h5 style="color:#AD94FF;">{{ label }}</h5>
    </div>
    <div class="actions">
      <button  (click)="onClick()" *ngIf="isShowAdd">+ Add New</button>
      <div class="search-wrapper"  (keydown.enter)="search()" >
        <input type="text" placeholder="Search Here" [(ngModel)]="searchParam" class="search-input" >
        <img src="../../../assets/magnifine-bar.svg" (click)="search()" class="search-icon" />
      </div>
    </div>
  </div>

  <!-- Table scroll wrapper -->
  <div class="table-scroll-wrapper">
    <div class="table-x-scroll">
      <table>
        <thead>
        <tr>
          <th>Sl No</th>
          <th>Year</th>
<!--          <th>Designation</th>-->
          <th>Team</th>
<!--          <th>Manager</th>-->
          <th>Status</th>
          <th>SBU</th>
          <th>Hierarchy</th>
          <th>Remarks</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of resData; let i = index" >
          <td>{{ i + 1 }}</td>
          <td title="{{ user.year }}">{{ user.year }}</td>
<!--          <td title="{{ user.team }}">{{ user.team }}</td>-->
          <td [title]="user.team">
            {{ user.team.length > 15 ? (user.team | slice:0:15) + '...' : user.team }}
          </td>
          <td title="{{ user.status }}" [ngClass]="getStatusClass(user.status)">{{ user.status }} </td>
          <td title="{{ user.SBU }}">{{ user.sbu }}</td>
          <td title="{{ user.hieCount }}" style="cursor:pointer;position: relative;">
            <div class="dropdown" style="position: relative;">
              <span
                class="text-white"
                role="button"
                (click)="user.hieCount>0 ? openHierarchy(user, $event,i): ''">
                <ul style="color:#fff;">{{ user.hieCount }}</ul>
              </span>

              <div #dropdownMenu class="dropdown-menu hierarchy-dropdown dropdown-options p-4"
                   [class.show]="openHierarchyIndex === i">
                <div style="font-size:16px; color:white; font-weight:bold;">Hierarchy</div>
                <div class="w-100">
                  <div *ngFor="let u of fullHierarchy" >
                    <div style="font-size:14px; color:white; display:flex; justify-content:space-between; align-items:center; padding:10px;">
                      <span>{{ u.user_name }}</span>
                      <span
                        [style.color]="u.status === 'Pending' ? 'yellow' : (u.status === 'Approved' ? 'lightgreen' : 'white')"
                          >
                        {{ u.status }}
                      </span>
                    </div>
                    <div class="dropdown-divider"></div>
                  </div>
                </div>
              </div>
            </div>



          </td>
          <td  title="{{ user.remarks }}" style="cursor:pointer;position: relative;">
            <div class="dropdown" style="position: relative;">
             <span
             class="text-white"
             role="button"
             (click)="user.remarks>0 ? openRemarks(user, $event,i): ''">
              {{ ( user.remarks ) }} <img src="../../../assets/comment.svg" />
            </span>
            <div #dropdownMenu [class.show]="openRemarksIndex === i"
                 class="dropdown-menu hierarchy-dropdown-remark dropdown-options p-4">
              <div style="font-size: 16px; color: white; font-weight: bold; position: sticky; height: 48px;">
                Remarks
              </div>
              <div *ngFor="let note of remarkList">
                <div class="popup-meta">
                  <span class="common-purple"
                        [title]="note.created_by">
                          {{ note.created_by?.length > 15 ? (note.created_by | slice:0:15) + '...' : note.created_by }}
                        </span>
                  <span class="date" style="margin-left: 34px;">Date:{{note.created_at }}</span>
                </div>
                <p>{{note.obj_remark}}</p>
              </div>
              <!--              <div class="w-100">-->
              <!--                <div *ngFor="let user of remarkList; let i = index;">-->
              <!--                  <div style="font-size:14px; color:white;">-->
              <!--                    {{ user.obj_remark }}-->
              <!--                  </div>-->
              <!--                  <div class="dropdown-divider"></div>-->
              <!--                </div>-->
              <!--              </div>-->
            </div>
            </div>
          </td>
          <td class="text-center">
            <img src="../../../assets/clear-eye.svg" alt="actions"
                 src="../../../assets/clear-eye.svg"
                 alt="View details"
                 (click)="viewClick(user)"
            />

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--                 [ngStyle]="{-->
<!--                    cursor: user.edit_permission == true  ? 'pointer' : 'not-allowed',-->
<!--                    opacity: user.edit_permission == true  ? 1 : 0.4,-->
<!--                    'pointer-events': user.edit_permission == true  ? 'all' : 'none'-->
<!--                  }"-->
