
<div class="">
<div class="row h-100">
  <div class="col-md-9 d-flex flex-column">
    <div class="row g-3">
      <div class="col-md-5">
        <div class="card p-3 announcement-panel mt-5" style="margin-top:10px;">
          <h5 class="announcement-title">Notifications</h5>
          <div class=" announcement-list">
            <div class="user" *ngFor="let note of notifications">
              <div>
                <strong>{{ note.created_by }}</strong><br>
                <small>{{ note.notification }}</small>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7">
      <div class="announcement-panel card p-3 mt-5" style="margin-top:10px;">
        <h5 class="announcement-title">Announcements</h5>

        <div *ngIf="role == 'hr'">
          <textarea [(ngModel)]="anncText"
            rows="4"
            class="announcement-input"
            placeholder="Type Here"
          ></textarea>

          <div class="d-flex justify-content-end">
            <button class="btn btn-announce mt-2 text-right" (click)="publishAnnoc()">Publish</button>
          </div>

        </div>


        <div class="announcement-list mt-3">
          <div *ngFor="let a of announcements"
          >
            <hr>
            <p class="announcement-text" >
              {{ a.announcement }}
            </p>
            <p class="announcement-date">
              {{ a.created_at }}
            </p>
          </div>
        </div>

      </div>
    </div>

    </div>
<!--    <div class="table-container mt-3">-->
<!--      <h5>Performance Measurements</h5>-->
<!--      <table class="table-borderless table-sm">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>Employee Name</th>-->
<!--          <th>Designation</th>-->
<!--          <th>Team</th>-->
<!--          <th>Performance Measure</th>-->
<!--          <th>Date</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr *ngFor="let emp of employees">-->
<!--          <td>{{ emp.name }}</td>-->
<!--          <td>{{ emp.designation }}</td>-->
<!--          <td>{{ emp.team }}</td>-->
<!--          <td>{{ emp.measure }}</td>-->
<!--          <td>{{ emp.date }}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->

  </div>
  <div class="col-md-3" style="background-color:#1C1D21; height:100%">
    <div class="kpi-box mb-1">
      <div class="kpi-header d-flex justify-content-between align-items-center mb-1"
           [class.disabled]="role !== 'hr'"
           [class.pointer]="role === 'hr'"
           (click)="(role === 'hr') && openSetting();">
        <div class="d-flex justify-content-center align-items-center">
          <h6 class="mb-0 text-center" >{{ settingTitle }}</h6>
        </div>
        <div>
          <span class="setting-icon" *ngIf="role === 'hr'"></span>
        </div>
      </div>

      <div class="row align-items-center mb-1">

        <div class="col-md-6 col-sm-6">
          <div class="countdown-card tier-block">
            <h6 class=" mb-3" style="color: #83F7F6">Closes In:</h6>
            <div>
              <app-flip-clock
                [date]=initialtionDate
                [showDays]="true"
                (completed)="onDone()"
              ></app-flip-clock>
            </div>


          </div>
        </div>


        <div class="col-md-6 col-sm-6" style="margin-left: -6px;">
          <div class="countdown-card tier-block">
<!--            <div>-->
              <h6 class="mb-3" style="color: #83F7F6;margin-top: -31px;">End Date:</h6>
<!--            </div>-->

            <div class="end-date-box">
              {{ initialtionDate | date:'dd MMMM, yyyy' }}
            </div>
          </div>
        </div>
      </div>

      </div>



      <div class="kpi-grid">
        <div class="kpi-card">
          <div class="kpi-title">In Manager's Review</div>
          <div class="kpi-value">
            <div>
              <span class="divider">|</span>
            </div>
            <div>
<!--              <span class="number">32</span>-->
            </div>


          </div>
        </div>

        <div class="kpi-card">
          <div class="kpi-title">Total Employees</div>
          <div class="kpi-value">
            <div>
              <span class="divider">|</span>
            </div>
            <div>
              <span class="number">{{ totalEmloyee }}</span>
            </div>
          </div>
        </div>

        <div class="kpi-card">
          <div class="kpi-title">KPI In Progress</div>
          <div class="kpi-value">
            <div>
              <span class="divider">|</span>
            </div>
            <div>
<!--              <span class="number">32</span>-->
            </div>
          </div>
        </div>

        <div class="kpi-card">
          <div class="kpi-title">In HR's Review</div>
          <div class="kpi-value">
            <div>
              <span class="divider">|</span>
            </div>
            <div>
<!--              <span class="number">32</span>-->
            </div>
          </div>
        </div>
      </div>

    <div class="card card-measure text-center pt-4">
      <div class="progress-circle">
        <svg>
          <circle class="bg" cx="60" cy="60" r="50"></circle>
          <circle class="progress" cx="60" cy="60" r="50" [attr.stroke-dashoffset]="dashOffset"></circle>
        </svg>
        <div class="percentage">{{ progressValue }}%</div>
      </div>
      <p class="completed-text">Completed : <span>{{ completed }}</span></p>
    </div>

  </div>

</div>
</div>


