<div class="popup-overlay">
  <div class="popup">
    <div class="popup-header">
      FINAL APPROVER SETTING
    </div>
    <div class="popup-body">
      <div class="p-4">
        <div>
          <div  style="font-size: 14px;color:white">
            Select the final approver and proceed.
          </div>
          <div style="font-size: 14px;color:white">
            To modify the final approver, you have to return to this section.
          </div>
        </div>
        <hr style="color:whitesmoke">
        <div>
          <div class="tiers-row">
            <div class="tier-block">
            <div class="tier-label" >{{ 'Final Approver' }}</div>
            <div class="dropdown-box"
              (click)="this.isOpen = !this.isOpen;">
              <div class="dropdown-selected" (click)="toggleDropdown();">
                <span class="dropdown-text" style="color:white">
                  {{ 'Select' }}
                </span>
                <span class="arrow">
                  <img src="../../../../assets/dropdwon.svg" />
                </span>
              </div>
              <div
                class="dropdown-options"
                *ngIf="isOpen">
                <div (click)="$event.stopPropagation()" class="search-box bg-color" style="color:white">
                  <i class="search-box-container-i cursor-enabled" style="position: absolute;z-index: 100; left: 10px; top: 50%; transform: translateY(-50%);"></i>
                  <input [(ngModel)]="searchApprover" type="text" class="form-control"
                         placeholder="Search Here" style="background: #F4F6F9; padding-left: 30px;height: 44px;" (input)="filterApprovers()">
                </div>
                <div
                  *ngFor="let option of aprrovers"
                  class="dropdown-option"
                  (click)="selectOption(option)">
                  {{option.name}}
                </div>
              </div>
            </div>
            </div>
        </div>


      </div>

    </div>

    <footer class="footer-section">
      <div class="d-flex justify-content-end gap-2 p-3">
        <button class="btn cancel-btn" (click)="closePopup()">Cancel</button>
        <button class="btn submit-btn" (click)="onSubmit()">Setup</button>
      </div>
    </footer>
  </div>
</div>
