
<div class="container-fluid kpi-page" [class.view-mode]="view === 0">

  <!-- Header -->
  <div class="d-flex flex-wrap justify-content-between align-items-center p-2 header-section" style="background-color: #1C1D21">
    <div class="d-flex align-items-center">
      <img src="../../assets/logo-nav.svg" alt="MetricOne Logo" class="logo me-2" />
    </div>

    <div class="text-end text-light header-info" style="display: flex;justify-content: space-between;align-items: center;">
      <div><strong class="font-color-system">Year:</strong> {{ year }} | <strong class="font-color-system">KPI of</strong> {{ userName }}</div>
      <div>
        <img src="../../../assets/avatar.svg" class="avatar mb-1" style="scale:0.7"  />
      </div>
<!--      <div><strong>Team:</strong> bKash | <strong>Designation:</strong> Business Analyst | <a href="#" class="text-primary">View as: Manager</a></div>-->
    </div>
  </div>

  <div class="container-fluid py-2" style="background-color: #25262C">
    <!-- Header -->
    <div class="row d-flex flex-wrap justify-content-between align-items-center mb-2 mt-2 header-section">
      <div class="row d-flex align-items-center">
        <div class="col-md-3">
          <span class="font-color-system">Manager's Name: </span>
          <span>Ashiful Islam</span>
        </div>
        <div class="col-md-3">
          <span class="font-color-system">Team: </span>
          <span>bKash</span>
        </div>

        <div class="col-md-3">
          <span class="font-color-system">Designation: </span>
          <span>Business Analyst</span>
        </div>

        <div class="col-md-3">
          <span class="font-color-system">View as: </span>
          <span>Self </span>
        </div>
      </div>
    </div>
  </div>



  <!-- Title -->
  <h5 class=" m-3 fw-bold" style="color:#00B2B1">INITIAL KPI SETTING</h5>

  <!-- Main Content -->
  <div class="row g-4">
    <div class="col-lg-4 col-md-4">
      <div class="d-flex step-section p-3 rounded">
        <span class="step-number">1</span>
        <h6 class="mt-2 text-light" style="margin-left: 6%;">Objective Set for the Year</h6>
      </div>
    </div>

    <div class="col-lg-8 col-md-8">
      <div class="objectives-card p-4 rounded">
        <h5 class="text-light fw-semibold">Objectives Set for Year 2025</h5>
        <p class="text-secondary small">
          Please write SMART Objective statements:
          <span >Stretching</span>,
          <span >Measurable</span>,
          <span >Agreed</span>,
          <span >Realistic</span>,
          <span >Time-Bound</span>.
        </p>

        <div class="mt-3 mb-3">
          <ul class="list-group">
            <div class="work-obj">
              <div class="d-flex justify-content-between align-items-center">
                <div class="fw-semibold p-3">Work Objective</div>
                <div class="d-flex justify-content-between align-items-center gap-4">
                  <div class="fw-semibold p-3" style="margin-right: -11px;" >WEIGHTAGE</div>
                  <div class="fw-semibold p-3" style="margin-right: 15px;">Key Results Area</div>
                  <!--            *ngIf="currentStatus == 'manager' || currentStatus == 'approver' || currentStatus == 'hr' "-->

                </div>
              </div>

              <div *ngFor="let obj of objectives; let i = index;" class="objective-box p-3 text-light"
                   [ngClass]="{ 'bg-open': obj.isOpen }">

                <div class="row"

                     style="cursor:pointer;">
                  <div class="col-md-5">
                    <div class="d-flex justify-content-start"  (click)="toggleObjective(obj)">
                      <div>
                        <img *ngIf="obj.isOpen" src="../../../assets/work_obj.svg" class="mb-1" style="scale:0.7"  />
                        <img *ngIf="!obj.isOpen" src="../../../assets/collapse-icon.svg" class="mb-1" style="scale:0.7"  />
                      </div>
                      <span class="fw-semibold">{{ obj.title }}</span>

                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="d-flex justify-content-end align-items-center">
                      <div class="input-with-percent" style="position: relative;" >
                        <input
                          type="text"
                          class="obj-input-weightage text-center"
                          [(ngModel)]="obj.weightage"
                          (keydown)="blockDecimal($event)"
                        />
                        <small class="objective-error" style="font-size: 11px;margin-left: 40%;" *ngIf="objectiveErrors[i]?.weightage">
                          {{ objectiveErrors[i].weightage }}
                        </small>

                        <span class="percentage-icon">%</span>
                      </div>
                      <div style="position: relative;">
                        <div class="dropdown">
                          <button class="btn btn-dark btn-sm dropdown-toggle"
                                  type="button"
                                  data-bs-toggle="dropdown"
                                  aria-expanded="false"
                                  style="background-color:#33343C; border:1px solid #7A7B8299;width: 130px; margin-right:10px;">
                            {{ obj.selectedType ? (obj.selectedType.length > 11 ? (obj.selectedType | slice:0:11) + '...' : obj.selectedType) : 'Select' }}
                          </button>



                          <ul class="dropdown-menu dropdown-menu-dark dropdown-scroll"style="background-color: #33343C;">
                            <div (click)="$event.stopPropagation()" class="search-box bg-color" style="">
                              <i class="search-box-container-i cursor-enabled" style="position: absolute;z-index: 100; left: 10px; top: 50%; transform: translateY(-50%);"></i>
                              <input [(ngModel)]="searchType" type="text" class="form-control search-input"
                                     placeholder="Search Here" style=""
                                     (input)="filterTypes()">
                            </div>
                            <li *ngFor="let type of filterObjectiveTypes">
                              <a class="dropdown-item text-light select-item" (click)="onObjectiveChange(type, obj, i)">
                              <span class="custom-tooltip"
                                    tooltip="{{ type.name }}">
                                {{ type.name.length > 11 ? (type.name | slice:0:11) + '...' : type.name }}
                              </span>
                                <i class="tick-icon"
                                   *ngIf="obj.selectedType === type.name"></i>
                              </a>
                            </li>

                          </ul>
                        </div>
                        <small class="objective-error" *ngIf="objectiveErrors[i]?.selectedType">
                          {{ objectiveErrors[i].selectedType }}
                        </small>
                      </div>

                      <div class="delete-icon" *ngIf="view == true">
                        <img *ngIf="i > 2"
                          src="../../../../assets/delete-icon.svg"
                          class="cursor-enabled"
                          (click)="actionDelete(deleteModal,i)"
                          alt="Delete Icon"
                        />
<!--                        <button-->
<!--                          class="btn btn-sm btn-outline-danger"-->
<!--                          *ngIf="i > 2"-->
<!--                          (click)="deleteObjective(i)">-->
<!--                          🗑-->
<!--                        </button>-->
                      </div>
                    </div>
                  </div>




                </div>

                <!-- Collapsible content -->
                <div *ngIf="obj.isOpen" class="collapse-content">
                  <hr>
                  <div>
                    <div>
                      <label class="text-secondary small white-font">OBJECTIVE</label>
                      <div *ngIf="mode == 'approver'">
                        <img src="../../../assets/fa-regular_edit.svg"
                             class="mb-1" style="scale:0.7"
                             (click)="toggleObjectiveEdit(obj)" />
                      </div>
                    </div>

                    <textarea
                      type="text"
                      style="height: 41px;"
                      class="obj-input mb-2"
                      [(ngModel)]="obj.objectiveText"
                      placeholder="Enter objective..."
                      [readonly]="mode === 'approver' && !obj.isEditingObjective">
                    </textarea>
                    <small class="text-danger" style="font-size: 11px;" *ngIf="objectiveErrors[i]?.objectiveText">
                      {{ objectiveErrors[i].objectiveText }}
                    </small>

                    <div *ngIf="obj.isEditingObjective" class="mt-3">
                      <h6 style="font-size: 12px;">Key Update Points*</h6>
                      <p style="font-size: 10px;">Please fill up this mandatory field mentioning briefly the modifications you did for future reference purpose.</p>
                      <input
                        type="text"
                        class="obj-input mb-2"
                        [(ngModel)]="obj.keyObjective"
                        placeholder="Enter key point objective..."
                      />
                      <small class="text-danger" style="font-size: 11px;" *ngIf="objectiveErrors[i]?.keyObjectiveText">
                        {{ objectiveErrors[i].keyObjectiveText }}
                      </small>

                    </div>

                      <div *ngIf="mode === 'approver'  && currentIndex !== 1" class="mt-1">
                        <img src="../../../assets/bx_chat.svg"
                             class="mb-1" style="scale:0.877"
                             (click)="openObjectiveHistory(obj,i);" />

                        <span class="ml-2 common-purple" style="font-size:12px"
                              (click)="openObjectiveHistory(obj,i);">Changed History</span>

                        <div class="history-popup" *ngIf="showObjectiveHistoryIndex === i">
                          <div class="popup-header">
                            <h5>History</h5>
                            <button class="close-btn" (click)="openChangedObjectiveHistory(i)">×</button>
                          </div>
                          <div *ngFor="let note of changedObjHistory">
                            <div class="popup-meta">
                              <span class="common-purple">{{note.created_by}}</span>
                              <span class="date">Date:{{note.created_at }}</span>
                            </div>
                            <p>{{note.key_point}}</p>
                          </div>
                        </div>

                      </div>


                  </div>



                  <div>
                    <div>
                      <label class="text-secondary small white-font">PERFORMANCE MEASURE</label>
                      <div *ngIf="mode === 'approver'">
                        <img src="../../../assets/fa-regular_edit.svg"
                             class="mb-1" style="scale:0.7"
                             (click)="togglePerformanceEdit(obj)" />
                      </div>
                    </div>

                    <textarea
                      rows="4"
                      type="text"
                      class="obj-input small"
                      [(ngModel)]="obj.performanceText"
                      placeholder="Enter Performance..."
                      [readonly]="mode === 'approver' && !obj.isEditingPerformance"
                      style="height: 41px;">
                    </textarea>

                    <small class="text-danger" style="font-size: 11px;" *ngIf="objectiveErrors[i]?.performanceText">
                      {{ objectiveErrors[i].performanceText }}
                    </small>

                    <div *ngIf="obj.isEditingPerformance" class="mt-3">
                      <h6 style="font-size: 12px;">Key Update Points*</h6>
                      <p style="font-size: 10px;">Please fill up this mandatory field mentioning briefly the modifications you did for future reference purpose.</p>
                      <input
                        type="text"
                        class="obj-input mt-2"
                        [(ngModel)]="obj.keyPerformance"
                        placeholder="Enter key point performance..."
                      />
                      <small class="text-danger" style="font-size: 11px;" *ngIf="objectiveErrors[i]?.keyPerformanceText">
                        {{ objectiveErrors[i].keyPerformanceText }}
                      </small>
                    </div>

                    <div *ngIf="mode === 'approver' && currentIndex !== 1" class="mt-1">
                      <img src="../../../assets/bx_chat.svg"
                           class="mb-1" style="scale:0.877"
                           (click)="openPerformanceHistory(obj)" />
                      <span class="ml-2 common-purple" style="font-size:12px"
                            (click)="openPerformanceHistory(obj)">Changed History</span>

                      <div class="history-popup" *ngIf="showHistory">
                        <div class="popup-header">
                          <h5>History</h5>
                          <button class="close-btn" (click)="openChangedHistory()">×</button>
                        </div>
                        <div *ngFor="let note of changedPerformanceHistory">
                          <div class="popup-meta">
                            <span class="common-purple">{{note.created_by}}</span>
                            <span class="date">Date:{{note.created_at }}</span>
                          </div>
                          <p>{{note.key_point}}</p>
                        </div>
                      </div>

                    </div>

                  </div>


                  <div class="row">

                    <div class="col-md-12 col-sm-12 col-lg-12">
                      <div>
                        <label class="text-secondary small white-font">TARGET</label>
                        <div *ngIf="mode === 'approver'">
                          <img src="../../../assets/fa-regular_edit.svg"
                               class="mb-1" style="scale:0.7"
                               (click)="toggleTargetEdit(obj)" />
                        </div>
                      </div>

                      <textarea
                        rows="4"
                        class="obj-input small"
                        [(ngModel)]="obj.targetText"
                        placeholder="Enter target..."
                        [readonly]="mode === 'approver' && !obj.isEditingTarget"
                        style="height: 41px;" >
                      </textarea>

                      <p style="font-size: 10px;">Please set the target based on the following measurements: Numeric, Percentage, Monitory, Ratio or Time</p>

                      <small class="text-danger" style="font-size: 11px;" *ngIf="objectiveErrors[i]?.targetText">
                        {{ objectiveErrors[i].targetText }}
                      </small>


                      <div *ngIf="obj.isEditingTarget" class="mt-3">
                        <h6 style="font-size: 12px;">Key Update Points*</h6>
                        <p style="font-size: 10px;">Please fill up this mandatory field mentioning briefly the modifications you did for future reference purpose.</p>
                        <input
                          type="text"
                          class="obj-input mt-2"
                          [(ngModel)]="obj.keyTarget"
                          placeholder="Enter key point target..."
                        />
                        <small class="text-danger" style="font-size: 11px;" *ngIf="objectiveErrors[i]?.keyTargetText">
                          {{ objectiveErrors[i].keyTargetText }}
                        </small>
                      </div>

                      <div *ngIf="mode === 'approver' && currentIndex !== 1" class="mt-1">
                        <img src="../../../assets/bx_chat.svg"
                             class="mb-1" style="scale:0.877"
                             (click)="openTargetHistory(obj)" />
                        <span class="ml-2 common-purple" style="font-size:12px"
                              (click)="openTargetHistory(obj)">Changed History</span>
                        <div class="history-popup" *ngIf="showTargetHistory">
                          <div class="popup-header">
                            <h5>History</h5>
                            <button class="close-btn" (click)="openChangedTargetHistory()">×</button>
                          </div>
                          <div *ngFor="let note of changedTargetHistory">
                            <div class="popup-meta">
                              <span class="common-purple">{{note.created_by}}</span>
                              <span class="date">Date:{{note.created_at }}</span>
                            </div>
                            <p>{{note.key_point}}</p>
                          </div>
                        </div>

                      </div>
                    </div>


                  </div>



                </div>

                </div>

            </div>

          </ul>

          <!-- Add new objective -->
          <button class="btn mt-2 add-obj-btn" (click)="addObjective()" *ngIf="view == true">
            + Add Work Objective
          </button>
        </div>


        <div class="d-flex justify-content-between gap-2" >
          <div>
            <button class="btn cancel-btn" (click)="onCancel()">Cancel</button>
          </div>
          <div *ngIf="view == true">
            <div class="d-flex justify-content-end gap-2">
              <button class="revert-btn" (click)="openModal(actionModal)" *ngIf="mode == 'approver'" >Revert</button>
              <button class="forward-btn" *ngIf=" currentStatus != 'hr'"
                      (click)="(currentStatus == 'manager' || currentStatus === 'approver') ? onSubmit('forward'): onSubmit('submit')"
                      [ngClass]="{
                          'forward-btn': true
                        }">
                {{ (currentStatus == 'manager' || currentStatus === 'approver') ? 'Forward' : 'Submit' }}
              </button>
              <button class="btn submit-btn" *ngIf=" currentStatus === 'hr'" (click)="onSubmit('publish')" >Publish</button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #actionModal>
<!--  <div class="modal " id="actionModal" tabindex="-1" role="dialog" aria-hidden="true">-->
    <div role="document">
      <div class="modal-content bg-color">
        <div>
          <span class="top-left-title-bar common-purple">Revert Remarks</span>
          <span class="close-btn close" data-dismiss="modal" (click)="onClose()">X</span>
        </div>
        <div class="modal-body modal-message-body text-break">
          <p>
            Are you sure you want to revert the KPI?
          </p>

          <div  class="form-group form-group-sm">
            <div style="color:#e2136e"><small style="color: #FFFFFFCC;padding-left: 10px">250 character
              max</small></div>
            <textarea class="form-control form-control-sm add-input-box" name="" id="" cols="30" rows="3"
                      maxlength="250" [(ngModel)]="remark"></textarea>
          </div>

        </div>
        <div class="modal-footer row justify-content-end" style="border:none; margin-top:-20px">
          <div class="col-6">
            <button type="button" class="btn cancel-button" data-dismiss="modal" (click)="onClose()">
              Cancel
            </button>
            <button
              [ngClass]=" (remark==''||remark==null)? 'cursor-disabled' : 'cursor-enabled'"
              [disabled]=" (remark==''||remark==null)"
              (click)="onRevert()" class="btn submit-btn" data-dismiss="modal">
              Submit
            </button>
          </div>


        </div>
      </div>
    </div>
<!--  </div>-->
</ng-template>


<div #errorToast class="custom-toast">
  {{ toastMessage }}
</div>


<ng-template #deleteModal>

  <div class="modal-content" style="background-color: #25262C;border: 1px solid #25262C;border-radius: 0px;">

    <div class="modal-body modal-message-body" style="display: flex;flex-direction: column;top: 25%">
      <div class="d-flex justify-content-center text-center " >
        <div style="color: white; font-size: 16px;">Are you sure you want to delete work objective?  </div>
      </div>


    </div>
    <div class="">
      <div class="d-flex justify-content-center gap-2" style="margin-right: 44px; padding-bottom: 30px; padding-top: 20px;">
        <button class="btn close-btn" style="cursor: pointer;" (click)="closeDeleteModal()">Close</button>
        <button class=" active-btn" style="cursor: pointer;"
                (click)="deleteObjective(selectedIndexForDelete)">Delete</button>
        <!--      onActive();-->
      </div>
    </div>

  </div>
</ng-template>
