
html, body {
  height: 100%;
  margin: 0;


}
.nav-bar-bg{
  background-color: #1C1D21;
}
.nav-height{
  height: 100%;
}
.nav-width{
  width: 240px;
}


.sidebar {
  background-color: #1C1D21;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  min-width: 80px;
}

.sidebar img.logo-small {
  max-width: 70%;
  height: auto;
}

/* Responsive: reduce sidebar width on small screens */
@media (max-width: 767.98px) {
  .sidebar {
    width: 120px;
  }

  .sidebar img.logo-small {
    max-width: 60%;
  }
}



.search-wrapper {

  position: relative;
  width: 100%;
  padding-left: 25px;
  background: transparent;
  height: 40px;
}
.search-wrapper.home-active {
  background:#7254D5; /* only active initially */
}

.search-input {
  width: 100%;
  padding-left: 40px;
  padding-right: 10px;
  background: transparent;
  color: white;
  border: 1px solid #44454E;
  height: 40px;
  border-radius: 10px;
}

.search-input::placeholder {
  color: #918f8f;
  size: 10px;
}
.sided {
  padding-left: 0px;
  margin-bottom: 0;
  width: 100%;
  display: block;
  cursor: pointer;
}
.nav-sidebar .nav-item > .nav-link {
  margin-bottom: 0rem;
}


.nav-link:focus{
  background-color: #7254D5;
}
/*.nav-sidebar .nav-treeview {*/
/*  display: block;*/
/*  list-style: none;*/
/*  padding: 0;*/
/*  overflow: hidden;*/
/*  !* max-height: 0.0001%; *!*/
/*  height: 100%;*/
/*  !* transition: 0.3s ease-out; *!*/
/*  transform: scaleY(0);*/
/*  transform-origin: top;*/
/*  transition: transform 0.26s ease;*/
/*}*/

.menu-open .nav-treeview {
  height: auto;
  /* max-height: 100%; */
  transform: scaleY(1);
}
.supertask:hover {
  color: #7254D5 !important;
}

.search-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}


.logout {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;       /* fixed height */
  gap: 8px;
  box-sizing: border-box;
}

.logout .avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  flex-shrink: 0;     /* do not shrink */
}

.logout .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  flex-grow: 1;       /* take remaining space */
  line-height: 1.1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.logout .designation
{
  font-weight: lighter;
  font-size: 11px;
}


.logout-icon {
  width: 30px;
  height: 46px;
  flex-shrink: 0;
  cursor: pointer;
  background: url("src/assets/logout.svg") center center no-repeat;
  scale: 0.7;
  border: none;
}
.logout-icon:focus{
  border: none;
  outline:none;
}

.task-icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.top-up {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('src/assets/top-up.svg') center center no-repeat;
  transition: transform 0.3s ease;
}
.top-up.rotated {
  transform: rotate(180deg);
}
.sidebar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 7px 10px;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  margin-left: 25px;
  margin-right: 5px;
}

.sidebar-item.active-item {
  background-color: #7254D5;
}
.subtask-text {
  color: white;
  margin: 0;
  margin-left: 20px;
  font-size:11px;
}

.subtask.active-subtask .subtask-text {
  color: #7254D5;
}
.main-sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
nav.flex-grow-1 {
  flex-grow: 1;
  overflow-y: auto;
}
.sidebar-footer{
  bottom: 0;
  z-index: 1020;
  position: absolute;
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
}
