 <div style="background-color: #25262C">
   <div class="row">
     <div>
       <p class="description" *ngIf="tabs=='initiation'">
         These settings allow you to activate KPI Initiation, enabling the setup
         of KPI Targets for all employees. Specifying the End Date will define
         the deadline for setting the initial KPI Targets for the year.
       </p>
       <p class="description" *ngIf="tabs=='evaluation'">
         These settings enable the annual KPI evaluation process, allowing to assess KPIs for all employees. Setting an End Date specifies the deadline for completing the KPI evaluations.

       </p>
     </div>
     <hr style="width: 90%;margin-left: 40px;color: #717171;">

   </div>

   <div class="d-flex justify-content-between abc">
     <div class="tier-block">
       <div class="tier-label">
         {{ 'End Date:'  }}
       </div>
       <div class="date-input-container date-input " *ngIf="tabs === 'initiation'">
         <app-date-picker
           style="z-index:1"
           [disabled]="timePeriod==='initiation_expired' || timePeriod==='evaluation' || timePeriod==='evaluation_expired' "
           [minDate]="today"
           [maxDate]="maxDate"
           [selectedDate]="resData.kpi_last_date"
           (dateChange)="onDateSelected($event)"
         ></app-date-picker>
<!--         <input-->
<!--           type="date"-->
<!--           id="dateInput"-->
<!--           [(ngModel)]="selectedDate"-->
<!--           (change)="onDateSelect()"-->
<!--           class="custom-date-input"-->
<!--           [disabled]="timePeriod==='initiation_expired' || timePeriod==='evaluation' || timePeriod==='evaluation_expired' "-->
<!--           [min]="today"-->
<!--           [max]="(today | date:'yyyy') + '-12-31'"-->

<!--         />-->
<!--         <span class="calendar-icon"></span>-->
       </div>
       <div class="date-input-container date-input" *ngIf="tabs === 'evaluation'">

         <app-date-picker
           style="z-index:1"
           [disabled]="timePeriod === 'evaluation_expired'"
           [minDate]="today"
           [maxDate]="maxDate"
           [selectedDate]="resData.kpi_last_date"
           (dateChange)="onDateSelected($event)"
         ></app-date-picker>
<!--         <span class="calendar-icon"></span>-->
       </div>

     </div>

     <div>

     </div>

   </div>

   <div *ngIf="mode==='edit' && tabs === 'evaluation'">
     <div class="d-flex justify-content-start gap-3" style="font-size: 12px;padding-left: 28px;" >


     </div>
   </div>


     <hr style="width: 93%;margin-left: 28px; color: #717171">


   </div>


