<div class="list-table">
  <div class="d-flex justify-content-end align-items-center mb-5">


    <div class="right-side" style="display: flex; align-items: center; gap: 16px;">
<!--      </div>-->
      <div class="logo" style="display: flex; align-items: center;">
        <img src="../../../assets/logo-datasoft.svg" alt="datasoft logo" style="width: 120px; height: auto;">
      </div>
    </div>


  </div>

  <div class="labels">
    <div class="kpi">
      <h5 style="color:#AD94FF;">{{ label }}</h5>
    </div>
    <div class="actions">
      <div class="search-wrapper" (keyup.enter)="search()">
        <input type="text" placeholder="Search Here" [(ngModel)]="searchParam" class="search-input" />
        <img src="../../../assets/magnifine-bar.svg" class="search-icon"  (click)="search()" />
      </div>
    </div>
  </div>

  <!-- Table scroll wrapper -->
  <div class="table-scroll-wrapper" style="min-height: 60vh;">
    <div class="table-x-scroll">
      <table>
        <thead>
        <tr>
          <th >Sl No</th>
          <th>Year</th>
          <th>Employee Name</th>
          <th>Team</th>
          <th>Employee Id</th>
          <th>Status</th>
<!--          <th>Designation</th>-->
          <th>Hierarchy</th>
          <th>Remarks</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of resData; let i = index" >
          <td>{{ i + 1 }}</td>
          <td >{{ user.year }}</td>
<!--                    <td title="{{ user.name }}">{{ user.name }}</td>-->
          <td [title]="user.name">
            {{ user.name.length > 15 ? (user.name | slice:0:15) + '...' : user.name }}
          </td>
          <td >{{ user.team }}</td>
          <td >{{ user.employee_id }}</td>
          <td  [style.color]="
                user.status === 'Forwarded' ? '#6BCAFA' :
                user.status === 'In Progress' ? '#FF4FD3' :
                user.status === 'Reverted' ? '#E5FD51' :
                user.status === 'Draft' ? '#FFFFFF' :
                user.status === 'Pending' ? '#FF9945' :
                user.status === 'Published' ? '#A645FF' :
                'white'
              "
          >
            {{ user.status }} </td>
<!--          <td>{{ user.desg }}</td>-->
          <td style="cursor:pointer;position: relative;">
            <span *ngIf="user.hieCount > 0"
              class="text-white dropdown"
              role="button"
              data-bs-toggle="dropdown"
              data-bs-display="static"
              aria-expanded="false"
              (click)="openHierarchy(user)">
              <ul style="color: #fff;">{{ user.hieCount }}</ul>
            </span>
            <span *ngIf="user.hieCount <= 0"
              class="text-white dropdown"
              role="button">
              <ul style="color: #fff;">{{ user.hieCount }}</ul>
            </span>
            <div
              class="dropdown-menu hierarchy-dropdown p-4"
              aria-labelledby="dropdownMenu2">

              <div style="font-size: 16px; color: white; font-weight: bold; position: sticky; height: 48px;">
                Hierarchy
              </div>

              <div class="w-100">
                <div *ngFor="let user of fullHierarchy; let i = index;">
                  <div style="font-size:14px; color:white; display:flex; justify-content:space-between; align-items:center;">
                    <span>{{ user.user_name }}</span>
                    <span
                      [style.color]="user.status === 'Pending' ? 'yellow' : (user.status === 'Approved' ? 'lightgreen' : 'white')"
                    >
                    {{ user.status }}
                  </span>
                  </div>
                  <div class="dropdown-divider"></div>
                </div>

              </div>
            </div>


            <!--            </div>-->


          </td>
          <td >
            <span *ngIf="user.remarks > 0"
              class="text-white dropdown"
              role="button"
              data-bs-toggle="dropdown"
              data-bs-display="static"
              aria-expanded="false"
              (click)="user.remarks > 0 ? openRemarks(user): ''">
              {{ ( user.remarks ) }} <img src="../../../assets/comment.svg" />
            </span>
            <span *ngIf="user.remarks <= 0"
              class="text-white dropdown"
              role="button">
              {{ ( user.remarks ) }} <img src="../../../assets/comment.svg" />
            </span>
            <div
              class="dropdown-menu hierarchy-dropdown p-4"
              aria-labelledby="dropdownMenu2" style="left: -189px !important;">
              <div style="font-size: 16px; color: white; font-weight: bold; position: sticky; height: 48px;">
                Remarks
              </div>
              <div *ngFor="let note of remarkList">
                <div class="popup-meta">
                  <span class="common-purple"
                        [title]="note.created_by">
                          {{ note.created_by?.length > 15 ? (note.created_by | slice:0:15) + '...' : note.created_by }}
                        </span>
                  <span class="date" style="margin-left: 34px;">Date:{{note.created_at }}</span>
                </div>
                <p>{{note.obj_remark}}</p>
              </div>
<!--              <div class="w-100">-->
<!--                <div *ngFor="let user of remarkList; let i = index;">-->
<!--                  <div style="font-size:14px; color:white;">-->
<!--                    {{ user.obj_remark }}-->
<!--                  </div>-->
<!--                  <div class="dropdown-divider"></div>-->
<!--                </div>-->
<!--              </div>-->
            </div>


          </td>
          <td class="text-center">
            <img src="../../../assets/clear-eye.svg" alt="actions"
                 [ngStyle]="{
                      cursor: isClickable(user) ? 'pointer' : 'default',
                      opacity: isClickable(user) ? 1 : 0.4,
                      'pointer-events': isClickable(user) ? 'all' : 'none'
                      }"
                 (click)="isClickable(user) && viewDetails(user)"
            />
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<!--isClickable(user) &&-->


