<div style="background-color: #25262C">

  <div class="kpi-header">
    <div class="row justify-content-between text-center kpi-tabs">
      <div
        class="tab col"
        (click)="changeTable('initiation')"
        [ngClass]="{ active: !tables.initiation.selected }">
        KPI INITIATION
      </div>
<!--      <div-->
<!--        class="tab col"-->
<!--        (click)="changeTable('modification')"-->
<!--        [ngClass]="{ active: !tables.modification.selected }">-->
<!--        KPI MODIFICATION-->
<!--      </div>-->
      <div
        class="tab col"
        (click)="changeTable('evaluation')"
        [ngClass]="{ active: !tables.evaluation.selected }">
        KPI EVALUATION
      </div>
    </div>
  </div>


  <div class="modal-body">
    <!-- KPI Initiation -->
    <fieldset *ngIf="currentTable=='initiation'">
      <app-initial [tabs]="this.tab" (showProceed)="getProceedButton($event)" (selectedDates)="getSelectedEndDate($event)" >

      </app-initial>

    </fieldset>

    <fieldset *ngIf="currentTable=='evaluation'">
      <app-initial [tabs]="this.tab">

      </app-initial>

    </fieldset>
  </div>

  <footer class="footer-section">
    <div class="d-flex justify-content-end gap-2" style="margin-right: 44px; padding-bottom: 30px; padding-top: 20px;">
      <button class="cancel-btn" (click)="closePopup()">Cancel</button>
      <button class="submit-btn"
              [disabled]="!selectedDate"
              [ngClass]="{ 'disabled-submit-btn': !selectedDate }"
              (click)="statusAction(actionModal)"
      >Active</button>
<!--      onActive();-->
      <button class="submit-btn" *ngIf="showProceedButton" (click)="onSubmit()">Proceed</button>
    </div>
  </footer>

</div>
<ng-template #actionModal>

    <div class="modal-content" style="background-color: #25262C;border: 1px solid #25262C;border-radius: 0px;height:260px;">

      <div class="modal-body modal-message-body" style="display: flex;flex-direction: column;top: 25%">
        <div class="d-flex justify-content-center text-center " >
          <div style="color: white; font-size: 16px;">Are you sure you want to activate the KPI Initiation?  </div>
        </div>


      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-center gap-2" style="margin-right: 44px; padding-bottom: 30px; padding-top: 20px;">
          <button class="btn close-btn" style="cursor: pointer;" (click)="closeModal()">Close</button>
          <button class="btn active-btn"
                  (click)="onActive();"
          >Confirm</button>
          <!--      onActive();-->
        </div>
      </div>

    </div>
</ng-template>
