<div style="background-color: #25262C">


<!--  <div >-->

<!--    <div class="k-cursor-default" style="height: 65px;">-->
<!--      <div class="row justify-content-between text-center" style="height: 60px;padding-top: 20px;">-->
<!--        <div  (click)="changeTable('initiation')" class="back-title col"-->
<!--              [ngClass]="{'text-muted-modified':!tables.initiation.selected}" >KPI INITIATION-->
<!--        </div>-->
<!--        <div  (click)="changeTable('modification')" class="back-title col"-->
<!--              [ngClass]="{'text-muted-modified':!tables.modification.selected}" >KPI MODIFICATION-->
<!--        </div>-->
<!--        <div  (click)="changeTable('evaluation')" class="back-title col"-->
<!--              [ngClass]="{'text-muted-modified':!tables.evaluation.selected}" >KPI EVALUATION-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


  <div class="kpi-header">
    <div class="row justify-content-between text-center kpi-tabs">
      <div
        class="tab col"
        (click)="changeTable('initiation')"
        [ngClass]="{ active: !tables.initiation.selected }">
        KPI INITIATION
      </div>
      <div
        class="tab col"
        (click)="changeTable('modification')"
        [ngClass]="{ active: !tables.modification.selected }">
        KPI MODIFICATION
      </div>
      <div
        class="tab col"
        (click)="changeTable('evaluation')"
        [ngClass]="{ active: !tables.evaluation.selected }">
        KPI EVALUATION
      </div>
    </div>
  </div>


  <div class="modal-body">
    <!-- KPI Initiation -->
    <fieldset *ngIf="currentTable=='initiation'">
      <app-initial [tabs]="this.tab" >

      </app-initial>

    </fieldset>

    <fieldset *ngIf="currentTable=='modification'">
      <app-kpi-modification-setting>

      </app-kpi-modification-setting>

    </fieldset>
    <fieldset *ngIf="currentTable=='evaluation'">
      <app-initial [tabs]="this.tab">

      </app-initial>

    </fieldset>
  </div>

  <footer class="footer-section">
    <div class="d-flex justify-content-end ">
     <div style="margin-right: 44px;margin-top: -30px;">
       <span style="color: #00B2B1">
         + Add more Modification parameters
       </span>
     </div>
    </div>
    <div class="d-flex justify-content-end gap-2" style="margin-right: 44px; padding-bottom: 30px; padding-top: 20px;">
      <button class="btn cancel-btn" (click)="closePopup()">Close</button>
      <button class="submit-btn" (click)="onSubmit()">Proceed</button>
    </div>
  </footer>

</div>
