/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
  font-color:white;
  color:white;
}
.big-logo {
  height: 40px;
}
.small-logo {
  display: none;
  width: 3.2rem;
}
.sidebar-mini.sidebar-collapse .main-sidebar:hover .big-logo {
  display: inline-block;
}
.sidebar-mini.sidebar-collapse .main-sidebar:hover .small-logo {
  display: none;
}
.sidebar-mini.sidebar-collapse .big-logo {
  display: none;
}
.sidebar-mini.sidebar-collapse .small-logo {
  display: block;
}

.background{
  background-color: black;
  font-color:white;
  color:white;
}
